button{
  color: #073976 !important;
  background-color: white !important;
  outline: 3px solid #073976 !important;
}
button:hover{
  background-color: #073976 !important; color: white !important; border: 2px solid white !important;
}
