<div class="main-container">
  <div class="row mt-3 justify-content-center">
    <div class="card col-lg-4 col-md-6 col-sm-8 col-10 mt-5">
      <div class="card-header text-center" style="background-color: white !important;">
        <p class="h3" style="color: green;">Investment Successfull!!</p>
      </div>
      <div class="card-body">
        <div class="row text-center p-4 mb-4">
          <i style="color: green; font-size: 6rem;" class="fa-solid fa-circle-check"></i>
        </div>
        <div class="description h5 text-center">
          <p>
            Your investment was successful, you've earned a another valuable TakeOff Token. You can view your investment details in your My Investments page.
           <br> You will get your reward according to the investment plan you chose if the campaign succeeds. Otherwise, The investment fund will be refunded to you via TakeOff Adminstration.
          </p>
        </div>
        <div class="text-center my-4">
          <button (click)="navigate()" class="btn">
            Explore More Campaigns!
          </button>
        </div>
    </div>
  </div>
</div>
