.mat-tab-group {
  margin-bottom: 48px;
}
img{
  height: 500px;
  width: 800px;
  border-radius: 20px;
}
button{
  color: #073976 !important;
  background-color: white !important;
  outline: 3px solid #073976 !important;
}
button:hover{
  background-color: #073976 !important; color: white !important; border: 2px solid white !important;
}

.report-button{
  background-color: red !important;
  color: white !important;
  border: none !important;
  outline: none !important;
}

.report-button:hover{
  background-color: white !important;
  color: red !important;
  border: 2px solid red !important;
}
.icons{
  font-size: 1.5rem;
  margin: 10px 0px 10px 10px;
}
input{
  border: 2px solid grey !important;
}
.story-input {
  // width: 100%;
  height: 300px !important; /* Adjust height according to your preference */
  resize: vertical; /* Allow vertical resizing */
  vertical-align: top;
border: 2px solid grey !important;
}
.file-upload {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.file-upload label {
  cursor: pointer;
}

.file-upload label span {
  display: block;
  margin-top: 10px;
}

.file-upload.dragover {
  border-color: #4CAF50;
}

.file-upload.dragover label {
  background-color: #f0f0f0;
}
