.mat-tab-group {
  margin-bottom: 48px;
}
img{
  height: 500px;
  width: 800px;
  border-radius: 20px;
}
button{
  color: #073976 !important;
  background-color: white !important;
  outline: 3px solid #073976 !important;
}
button:hover{
  background-color: #073976 !important; color: white !important; border: 2px solid white !important;
}

.report-button{
  background-color: red !important;
  color: white !important;
  border: none !important;
  outline: none !important;
}

.report-button:hover{
  background-color: white !important;
  color: red !important;
  border: 2px solid red !important;
}
.icons{
  font-size: 1.5rem;
  margin: 10px 0px 10px 10px;
}
input{
  border: 2px solid grey !important;
}
