.main-component {
  min-height: 100%;
  background-image: url("../../../../assets/Background/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center center;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #f5f5f5;
  border-radius: 8px;
  font-size: 12px; /* Further reduced font size */
}

.attendance-text {
  font-size: 14px; /* Further reduced font size */
  font-weight: 500;
}

.btn.btn-pri {
  background: #073874;
  color: white;
  border-radius: 16px; /* Further reduced border radius */
  font-size: 12px; /* Further reduced font size */
}

.row-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 0.3rem; /* Further reduced gap */
  padding: 0.3rem; /* Further reduced padding */
  margin-left: 0.5rem; /* Further reduced margin */
}

.title {
  font-weight: 500;
  font-size: 1.2rem; /* Further reduced font size */
  // margin-top: 8px; /* Further reduced margin */
}

.forgotPass {
  text-align: end;
  // margin-bottom: 2px; /* Further reduced margin */
  color: #073874;
  cursor: pointer;
}

.reg-icons {
  height: 30px; /* Further reduced height */
  cursor: pointer;
}

.btn.btn-pri:hover {
  background: #5b90d1;
  color: #073874;
  border-radius: 16px;
}

.error-message {
  text-align: left;
  color: red;
}

.email-signup {
  color: #073874;
  text-decoration: none;
}

.email-signup:hover {
  text-decoration: underline;
  cursor: pointer;
}

.example-form {
  min-width: 100px; /* Further reduced min-width */
  max-width: 300px; /* Further reduced max-width */
  width: 100%;
}

.icon {
  padding: 0.3rem; /* Further reduced padding */
  height: 250px; /* Further reduced height */
  // margin-top: 1.5rem;

  /* Further reduced margin */
}

.title {
  font-weight: 500;
  font-size: 1.2rem; /* Further reduced font size */
  // margin-top: 8px; /* Further reduced margin */
}

span {
  color: #073874;
  font-weight: 600; /* Adjusted font weight */
  font-size: 1.2rem; /* Further reduced font size */
}

p {
  font-weight: 400; /* Adjusted font weight */
  font-size: 0.9rem; /* Further reduced font size */
}

form {
  width: 50%; /* Further reduced width */
}

.mat-mdc-form-field-infix {
  min-height: 40px !important;
  /* font-size: 10px; */
}

.logo-container {
  width: 50%; /* Further reduced width */
}

.form-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-back {
  border: none;
  outline: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #f5f5f5;
}

.btn-back:hover{
  background-color: white;
}

.btn-success{
  border-radius: 40px;
  background-color: #073874;
}

/* Styling for mobile screens */
@media (max-width: 767px) {
  .form-div {
    flex-direction: column;
  }

  .icon {
    height: 80px; /* Further reduced height */
  }

  span {
    font-weight: 500;
    font-size: 0.7rem; /* Further reduced font size */
  }

  form {
    width: 80%; /* Further reduced width */
  }

  .logo-container {
    width: 80%; /* Further reduced width */
  }
}

.example-full-width {
  width: 100%;
}
.inputs-row {
  max-height: 57px !important;
}
/* Add this CSS to your existing styles */
// .vertical-line {
//   /* Adjust the color as needed */
//   height: 100%; /* Adjust the height of the line */
//   margin: 0 20px; /* Adjust the margin as needed */
// }
/* CSS Styles for OTP Input */

/* Style for the container holding the OTP input */
.otp-container {
  margin-top: 20px;
}

/* Style for the label */
.otp-label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Style for the OTP input field */
.otp-input-container {
  margin-top: 8px;
}

.otp-input {
  width: 200px;
  height: 36px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.email-input{
  width: 100%;
  height: 50px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-submit{
  border-radius: 20px !important;
  background-color: #073874 !important;
  color: white;
}

/* Style for the button */
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
}

.btn:hover {
  background-color: #218838;
}

.error-message-modal{
  text-align: center;
  color: red;

}
