<ng-container class="main-container">
  <div class="main-container">
    <div class="row mx-5 px-5 d-flex justify-content-center">
      <div class="col-sm-1 cat-links">
        <a>All</a>
      </div>
      <div class="col-sm-1">
        <a>Technology</a>
      </div>
      <div class="col-sm-1">
        <a>Comics</a>
      </div>
      <div class="col-sm-1">
        <a>Music</a>
      </div>
      <div class="col-sm-1">
        <a>Arts</a>
      </div>
      <div class="col-sm-1">
        <a>Technology</a>
      </div>
      <div class="col-sm-1">
        <a>Comics</a>
      </div>
      <div class="col-sm-1">
        <a>Music</a>
      </div>
    </div>
    <hr>
  </div>
</ng-container>
