<ng-container class="main-container">
  <div class="main-container">
    <div class="row mx-5 px-5 d-flex justify-content-center">
      <div class="col-sm-1 cat-links">
        <a routerLink="/discover/new/All" routerLinkActive="active">All</a>
      </div>
      <div class="col-sm-1">
        <a routerLink="/discover/new/Art" routerLinkActive="active">Art</a>
      </div>
      <div class="col-sm-1">
        <a routerLink="/discover/new/Fashion" routerLinkActive="active">Fashion</a>
      </div>
      <div class="col-sm-1">
        <a routerLink="/discover/new/Technology" routerLinkActive="active">Technology</a>
      </div>
      <div class="col-sm-1">
        <a routerLink="/discover/new/Food" routerLinkActive="active">Food</a>
      </div>
      <div class="col-sm-1">
        <a routerLink="/discover/new/Music" routerLinkActive="active">Music</a>
      </div>

      <div class="col-sm-1">
        <a routerLink="/discover/new/Games" routerLinkActive="active">Games</a>
      </div>

      <div class="col-sm-1">
        <a routerLink="/discover/new/Books" routerLinkActive="active">Books</a>
      </div>
    </div>
    <hr>
  </div>
</ng-container>
