<ng-container class="main-container">
  <div class="main-container">
    <div class="row mx-5 px-5 d-flex justify-content-center">
      <div class="col-sm-1 cat-links">
        <a routerLink="/discover/new/All">All</a>
      </div>
      <div class="col-sm-1">
        <a routerLink="/discover/new/Art">Art</a>
      </div>
      <div class="col-sm-1">
        <a routerLink="/discover/new/Fashion">Fashion</a>
      </div>
      <div class="col-sm-1">
        <a routerLink="/discover/new/Technology">Technology</a>
      </div>
      <div class="col-sm-1">
        <a routerLink="/discover/new/Food">Food</a>
      </div>
      <div class="col-sm-1">
        <a routerLink="/discover/new/Music">Music</a>
      </div>

      <div class="col-sm-1">
        <a routerLink="/discover/new/Games">Games</a>
      </div>

      <div class="col-sm-1">
        <a routerLink="/discover/new/Books">Books</a>
      </div>
    </div>
    <hr>
  </div>
</ng-container>
