<div class="container p-4">
  <div class="row mt-2 p-4">
    <div class="col-lg-8"> <!-- Adjust column width based on screen size -->
      <p class="h1">Ready To Launch Your Campaign</p>
      <p class="h3">"Lets TakeOff"</p>
    </div>
    <div class="col-lg-4 mt-2"> <!-- Adjust column width based on screen size -->
      <button class="btn btn-lg col-12 my-4 buttons" (click)="navigate()">
        Start Your Campaign
      </button>
    </div>
  </div>

  <hr>
  <div style="background-color: #073976; color: white;" class="row mt-2 p-4">
    <p class="h3 text-center">
      "We envision TakeOff as more than just a crowdfunding platform; it's a nurturing space for imaginative minds to flourish. At TakeOff, we cherish the belief in ideas, respect for creativity, and shared vision for a better future. It's where backers and creators unite to transform dreams into reality, making every project a journey worth embarking on."
    </p>
    <p class="h4">
      - Sujan Shrestha
    </p>
  </div>
  <div class="row mt-4 p-4">
    <div class="col-12">
      <p class="h4 col-12 text-center">
        "A TakeOff project isn't just about funding; it cultivates a vibrant community around your endeavors."
      </p>
    </div>
  </div>
  <div class="row mt-4 p-4">
    <div class="col-12">
      <p class="h4 col-12 text-center">
        "By craeting or investing in a project, you directly accept the terms and conditions of TakeOff. To know more about the terms and conditions, click <a routerLink="/terms">here</a>."
      </p>
    </div>
  </div>
  <div class="row mt-2 p-4 ques">
    <div class="col-lg-6 text-center my-2"> <!-- Adjust column width based on screen size -->
      <p class="h4">
        What can TakeOff fund?
      </p>
    </div>
    <div class="col-lg-6 border-container my-2"> <!-- Adjust column width based on screen size -->
      <P class="h4">TakeOff is dedicated to fueling creative ventures across a diverse array of categories: Art, Comics, Crafts, Dance, Design, Fashion, Film & Video, Food, Games, Journalism, Music, Photography, Publishing, Technology, and Theater. Whether you're looking to produce an album, pen a book, curate an immersive theatrical experience, or score a film – TakeOff is your launchpad for innovation. Learn more about our project guidelines<span><a>here</a></span>.</P>
    </div>
    <div class="col-lg-6 text-center my-2"> <!-- Adjust column width based on screen size -->
      <p class="h4">
        Who can pledge on TakeOff?
      </p>
    </div>
    <div class="col-lg-6 border-container my-2"> <!-- Adjust column width based on screen size -->
      <P class="h4">While millions of enthusiasts peruse TakeOff each week, your primary supporters will likely be your existing network of friends, followers, and communities. They'll be your initial champions and vital advocates for spreading the word about your project.</P>
    </div>
    <div class="col-lg-6 text-center my-2"> <!-- Adjust column width based on screen size -->
      <p class="h4">
        How much effort does it take to run a project on TakeOff?
      </p>
    </div>
    <div class="col-lg-6 border-container my-2"> <!-- Adjust column width based on screen size -->
      <P class="h4">Running a project on TakeOff can be both exhilarating and demanding, contingent upon the scope and complexity of your endeavor. Expect an intense flurry of activity in the initial days post-launch as you engage with your community, address inquiries from potential backers, and more. Towards the project's conclusion, you may find yourself rallying your social circles to ensure you reach your funding goal. Projects may take on a life of their own, demanding additional time for reward creation and fulfillment. If you haven't pondered over the fulfillment aspect yet, fret not – we've got you covered. Learn how TakeOff can simplify your fulfillment process.</P>
    </div>
    <div class="col-lg-6 text-center my-2"> <!-- Adjust column width based on screen size -->
      <p class="h4">
        How can I get in touch with inquiries?
      </p>
    </div>
    <div class="col-lg-6 border-container my-2"> <!-- Adjust column width based on screen size -->
      <P class="h4">Should you have any questions or require assistance, feel free to reach out through our contact form. Additionally, perusing our FAQs for detailed insights and consulting the creator handbook for project initiation and management guidance can prove invaluable.</P>
    </div>
    <div class="col-lg-6 text-center my-2"> <!-- Adjust column width based on screen size -->
      <p class="h4">
        How can I expand my backer base on TakeOff?
      </p>
    </div>
    <div class="col-lg-6 border-container my-2"> <!-- Adjust column width based on screen size -->
      <P class="h4">Crowdfunding thrives on community engagement. The broader your community, the higher the likelihood of project success. By leveraging social media platforms and leveraging our email outreach program, you can extend your project's reach exponentially. Let TakeOff be the conduit through which your creative aspirations take flight.</P>
    </div>
  </div>
</div>
