@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.main-container {
  margin-top: 1rem !important;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.project-title {
  font-size: 2rem;
  font-weight: 500;
}

.card-container {
  padding: 0rem 4rem 4rem 4rem;
}

.titles {
  margin: 0 5rem 0 5rem;
  padding: 10px 1rem 10px 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.coverImage {
  height: 450px;
  width: 600px;
  border-radius: 20px;
}

button {
  color: #073976 !important;
  background-color: white !important;
  outline: 3px solid #073976 !important;
}

button:hover {
  background-color: #073976 !important;
  color: white !important;
  border: 2px solid white !important;
}

.icons {
  font-size: 1.5rem;
  margin: 10px 0px 10px 10px;
}

.card-img {
  height: 100%;
  width: auto;
  border-radius: 5px;
}

.img-container {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.cards {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
  border-radius: 10px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.save-icon {
  transition: transform .2s;
  cursor: pointer;
}

.save-icon:hover {
  color: #073976;
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.project-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.spinner {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.title:hover {
  text-decoration: underline !important;
}

@media only screen and (max-width: 767px) {
  .coverImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .card-img {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 10px;
  }

  .titles {
    // margin: 0 5rem 0 5rem;
    // padding: 10px 1rem 10px 1rem;
    font-size: 1rem;
    font-weight: 400;
  }

  .title{
    font-size: 1.5rem !important;
    font-weight: 400 !important;
  }

  .project-title{
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .save-icon{
    display : none;
  }
}
