<div class="main-container">
  <div class="text-center">
    <h1>Soar High, Dream Big</h1>
    <h3>Let's <span>TakeOff</span></h3>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="card-body p-2">
        <div class="titles">
          <div>
            Campaigns That Are Taking Off,
          </div>

        </div>
        <div class="cards-container">
          <div class="cards container p-4 mt-2">
            <div class="row d-flex">
              <div class="text-center mt-3 col-lg-8">
                    <ng-container>
                      <img class="coverImage" [src]="getCoverImageUrl(topProject.coverImage)" alt="Image">
                    </ng-container>
              </div>
              <div class="col-lg-4 mt-2">
                <div class="details">
                  <p style="color: #073976; cursor: pointer;" class="h1 title" (click)="openProject(topProject._id)">{{topProject['title']}}</p>
                  <p style="color: #073976; font-size: 1rem; margin-top: 25px; font-weight: 400;">
                    <!-- {{totalInvestors}} {{topProject['investors'].length}} -->
                    {{topProject['description']}}
                  </p>
                  <p style="color: #073976; font-size: 2rem; margin-top:25px; font-weight: 700;">
                    <!-- {{remDays}}  -->{{topProject['remainingDays']}}
                    <br>
                    <span class="h6" style="color: black;"> Days To Go
                    </span>
                  </p>
                  <p style="color: #073976; font-size: 2rem; margin-top: 25px; font-weight: 700;">
                    Rs.{{topProject['currentAmount']}} <br>
                    <span class="h6" style="color: black;"> of Rs.{{topProject['goalAmount']}} goal
                    </span>
                  </p>
                  <button class="btn btn-lg col-12 my-4 buttons" (click)="openProject(topProject._id)">
                    View More About This Project
                  </button>
                  <div class="row ms-1">
                    <button (click)="createBookmark(topProject._id)" class="btn btn-lg col-6 my-1 buttons">
                      <i class="fa-regular fa-bookmark save-icon"></i> Save For Later
                    </button>
                    <div class="col-6 pt-2">
                      <i class="fa-brands fa-facebook icons"></i>
                      <i class="fa-brands fa-twitter icons"></i>
                      <i class="fa-brands fa-linkedin icons"></i>
                      <i class="fa-brands fa-youtube icons"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row p-4">
            <div class="col-lg-4" *ngFor="let item of projects">
              <div class="card p-3 mt-2 text-start">
                <div class="img-container">
                  <img [src]="getCoverImageUrl(item.coverImage)" alt="" class="card-img">
                </div>
                <div class="px-4">
                  <hr style="color: #073976; border-width: 2px;" class="mx-1">
                  <div class="mx-1">
                    <div class="space-between">
                      <p class="h4 project-title" (click)="openProject(item._id)">{{item.title}}</p>
                      <!-- <svg class="save-icon" style="height: 17px; margin-top: 3px" fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 603.511 603.511" xml:space="preserve">
                        <!-- SVG code -->
                      <!-- </svg> -->
                      <i (click)="createBookmark(item._id)" class="fa-regular fa-bookmark save-icon"></i>
                    </div>
                    <p class="h6" *ngIf="item.author">{{item.author['firstName']}} {{item.author['lastName']}}</p>
                    <div class="d-flex justify-content-space-between">
                      <fa-icon class="icon" [icon]=faClock style="font-size: 15px;"></fa-icon>
                      <p class="ms-1">{{item.remainingDays}} days left - <span>{{item.fundPercent}}% funded</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


    </div>
  </div>
  </div>
  </div>
</div>
