<div class="main-container">
  <div class="text-center">
    <h1>Soar High, Dream Big</h1>
    <h3>Let's <span>TakeOff</span></h3>
  </div>
  <hr>
  <div class="card-container" *ngIf="!loading && authService.userRole != 'admin'">
    <div class="card">
      <div class="card-body p-2">
        <div class="titles">
          <div>
            Campaigns That Are Taking Off,
          </div>
        </div>
        <div class="cards-container">
          <div class="cards container p-4 mt-2">
            <div class="row d-flex">
              <div class="text-center mt-3 col-lg-8">
                <ng-container>
                  <img class="coverImage" [src]="getCoverImageUrl(topProject.coverImage)" alt="Image">
                </ng-container>
              </div>
              <div class="col-lg-4 mt-2">
                <div class="details">
                  <p style="color: #073976; cursor: pointer;" class="h1 title" (click)="openProject(topProject._id)">
                    {{topProject['title']}}</p>
                  <p style="color: #073976; font-size: 1rem; margin-top: 10px; font-weight: 400;">
                    {{topProject['description']}}
                  </p>
                  <p *ngIf="topProject['remainingDays'] != 0"
                    style="color: #073976; font-size: 2rem; margin-top:25px; font-weight: 700;">
                    {{topProject['remainingDays']}}
                    <br>
                    <span class="h6" style="color: black;"> Days To Go
                    </span>
                  </p>
                  <p *ngIf="topProject['remainingDays'] == 0"
                    style="color: #073976; font-size: 2rem; margin-top:25px; font-weight: 700;">
                    Last Day
                  </p>
                  <p style="color: #073976; font-size: 2rem; margin-top: 25px; font-weight: 700;">
                    Rs.{{topProject['currentAmount']}} <br>
                    <span class="h6" style="color: black;"> of Rs.{{topProject['goalAmount']}} goal
                    </span>
                  </p>
                  <app-progress-bar [currentAmount]="topProject['currentAmount']"
                    [goalAmount]="topProject['goalAmount']"></app-progress-bar>

                  <button class="btn btn-lg col-12 my-4 buttons" (click)="openProject(topProject._id)">
                    View More About This Project
                  </button>
                  <div class="row ms-1">
                    <div class="col-6 pt-2" *ngIf="socialLinks != undefined || socialLinks != null">
                      <a [href]="socialLinks['facebook']" target="_blank" *ngIf="socialLinks['facebook']">
                        <i class="fa-brands fa-facebook icons"></i>
                      </a>
                      <a [href]="socialLinks['twitter']" target="_blank" *ngIf="socialLinks['twitter']">
                        <i class="fa-brands fa-twitter icons"></i>
                      </a>
                      <a [href]="socialLinks['instagram']" target="_blank" *ngIf="socialLinks['instagram']">
                        <i class="fa-brands fa-linkedin icons"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row p-4">
            <div class="col-lg-4" *ngFor="let item of projects">
              <div class="card p-3 mt-2 text-start">
                <div class="img-container">
                  <img [src]="getCoverImageUrl(item.coverImage)" alt="" class="card-img">
                </div>
                <div class="px-4">
                  <hr style="color: #073976; border-width: 2px;" class="mx-1">
                  <div class="mx-1">
                    <div class="space-between">
                      <p class="h4 project-title" (click)="openProject(item._id)">{{item.title}}</p>
                      <i (click)="createBookmark(item._id)" class="fa-regular fa-bookmark save-icon"></i>
                    </div>
                    <p class="h6" *ngIf="item.author">{{item.author['firstName']}} {{item.author['lastName']}}</p>
                    <div class="d-flex justify-content-space-between">
                      <fa-icon class="icon" [icon]=faClock style="font-size: 15px;"></fa-icon>
                      <p class="ms-1">{{item.remainingDays}} days left - <span>{{item.fundPercent}}% funded</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pull-right text-end">
              <a style="cursor: pointer;" class="col-12 h5 my-3" (click)="navigate()">
                Explore More Campaigns!
              </a>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="cards-container" *ngIf="artProjects.length > 3">

      <div class="row p-4" >
        <div class="row">
          <div class="sub-titles">
            <div>
              Explore Campaigns From Arts Category
            </div>
          </div>

        </div>
        <div class="col-lg-4" *ngFor="let item of artProjects">
          <div class="card p-3 mt-2 text-start">
            <div class="img-container">
              <img [src]="getCoverImageUrl(item.coverImage)" alt="" class="card-img">
            </div>
            <div class="px-4">
              <hr style="color: #073976; border-width: 2px;" class="mx-1">
              <div class="mx-1">
                <div class="space-between">
                  <p class="h4 project-title" (click)="openProject(item._id)">{{item.title}}</p>
                  <i (click)="createBookmark(item._id)" class="fa-regular fa-bookmark save-icon"></i>
                </div>
                <p class="h6" *ngIf="item.author">{{item.author['firstName']}} {{item.author['lastName']}}</p>
                <div class="d-flex justify-content-space-between">
                  <fa-icon class="icon" [icon]=faClock style="font-size: 15px;"></fa-icon>
                  <p class="ms-1">{{item.remainingDays}} days left - <span>{{item.fundPercent}}% funded</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pull-right text-end">
          <a style="cursor: pointer;" class="col-12 h5 my-3" (click)="navigate()">
            Explore More Campaigns!
          </a>
        </div>
      </div>
    </div>

    <div class="cards-container" *ngIf="fashionProjects.length > 3">

      <div class="row p-4" >
        <div class="row">
          <div class="sub-titles">
            <div>
              Explore Campaigns From Fashion Category
            </div>
          </div>

        </div>
        <div class="col-lg-4" *ngFor="let item of fashionProjects">
          <div class="card p-3 mt-2 text-start">
            <div class="img-container">
              <img [src]="getCoverImageUrl(item.coverImage)" alt="" class="card-img">
            </div>
            <div class="px-4">
              <hr style="color: #073976; border-width: 2px;" class="mx-1">
              <div class="mx-1">
                <div class="space-between">
                  <p class="h4 project-title" (click)="openProject(item._id)">{{item.title}}</p>
                  <i (click)="createBookmark(item._id)" class="fa-regular fa-bookmark save-icon"></i>
                </div>
                <p class="h6" *ngIf="item.author">{{item.author['firstName']}} {{item.author['lastName']}}</p>
                <div class="d-flex justify-content-space-between">
                  <fa-icon class="icon" [icon]=faClock style="font-size: 15px;"></fa-icon>
                  <p class="ms-1">{{item.remainingDays}} days left - <span>{{item.fundPercent}}% funded</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pull-right text-end">
          <a style="cursor: pointer;" class="col-12 h5 my-3" (click)="navigate()">
            Explore More Campaigns!
          </a>
        </div>
      </div>
    </div>

    <div class="cards-container" *ngIf="techProjects.length == 3">

      <div class="row p-4" >
        <div class="row">
          <div class="sub-titles">
            <div>
              Explore Campaigns From Technology Category
            </div>
          </div>

        </div>
        <div class="col-lg-4" *ngFor="let item of techProjects">
          <div class="card p-3 mt-2 text-start">
            <div class="img-container">
              <img [src]="getCoverImageUrl(item.coverImage)" alt="" class="card-img">
            </div>
            <div class="px-4">
              <hr style="color: #073976; border-width: 2px;" class="mx-1">
              <div class="mx-1">
                <div class="space-between">
                  <p class="h4 project-title" (click)="openProject(item._id)">{{item.title}}</p>
                  <i (click)="createBookmark(item._id)" class="fa-regular fa-bookmark save-icon"></i>
                </div>
                <p class="h6" *ngIf="item.author">{{item.author['firstName']}} {{item.author['lastName']}}</p>
                <div class="d-flex justify-content-space-between">
                  <fa-icon class="icon" [icon]=faClock style="font-size: 15px;"></fa-icon>
                  <p class="ms-1">{{item.remainingDays}} days left - <span>{{item.fundPercent}}% funded</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pull-right text-end">
          <a style="cursor: pointer;" class="col-12 h5 my-3" (click)="navigate()">
            Explore More Campaigns!
          </a>
        </div>
      </div>
    </div>
    <div class="cards-container" *ngIf="miscProjects.length == 3">

      <div class="row p-4" >
        <div class="row">
          <div class="sub-titles">
            <div>
              Explore Campaigns From Music Category
            </div>
          </div>

        </div>
        <div class="col-lg-4" *ngFor="let item of miscProjects">
          <div class="card p-3 mt-2 text-start">
            <div class="img-container">
              <img [src]="getCoverImageUrl(item.coverImage)" alt="" class="card-img">
            </div>
            <div class="px-4">
              <hr style="color: #073976; border-width: 2px;" class="mx-1">
              <div class="mx-1">
                <div class="space-between">
                  <p class="h4 project-title" (click)="openProject(item._id)">{{item.title}}</p>
                  <i (click)="createBookmark(item._id)" class="fa-regular fa-bookmark save-icon"></i>
                </div>
                <p class="h6" *ngIf="item.author">{{item.author['firstName']}} {{item.author['lastName']}}</p>
                <div class="d-flex justify-content-space-between">
                  <fa-icon class="icon" [icon]=faClock style="font-size: 15px;"></fa-icon>
                  <p class="ms-1">{{item.remainingDays}} days left - <span>{{item.fundPercent}}% funded</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pull-right text-end">
          <a style="cursor: pointer;" class="col-12 h5 my-3" (click)="navigate()">
            Explore More Campaigns!
          </a>
        </div>
      </div>
    </div>

    <div class="cards-container" *ngIf="gamesProjects.length == 3">

      <div class="row p-4" >
        <div class="row">
          <div class="sub-titles">
            <div>
              Explore Campaigns From Games Category
            </div>
          </div>

        </div>
        <div class="col-lg-4" *ngFor="let item of gamesProjects">
          <div class="card p-3 mt-2 text-start">
            <div class="img-container">
              <img [src]="getCoverImageUrl(item.coverImage)" alt="" class="card-img">
            </div>
            <div class="px-4">
              <hr style="color: #073976; border-width: 2px;" class="mx-1">
              <div class="mx-1">
                <div class="space-between">
                  <p class="h4 project-title" (click)="openProject(item._id)">{{item.title}}</p>
                  <i (click)="createBookmark(item._id)" class="fa-regular fa-bookmark save-icon"></i>
                </div>
                <p class="h6" *ngIf="item.author">{{item.author['firstName']}} {{item.author['lastName']}}</p>
                <div class="d-flex justify-content-space-between">
                  <fa-icon class="icon" [icon]=faClock style="font-size: 15px;"></fa-icon>
                  <p class="ms-1">{{item.remainingDays}} days left - <span>{{item.fundPercent}}% funded</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pull-right text-end">
          <a style="cursor: pointer;" class="col-12 h5 my-3" (click)="navigate()">
            Explore More Campaigns!
          </a>
        </div>
      </div>
    </div>
    <div class="cards-container" *ngIf="booksProjects.length == 3">

      <div class="row p-4" >
        <div class="row">
          <div class="sub-titles">
            <div>
              Explore Campaigns From Books Category
            </div>
          </div>

        </div>
        <div class="col-lg-4" *ngFor="let item of booksProjects">
          <div class="card p-3 mt-2 text-start">
            <div class="img-container">
              <img [src]="getCoverImageUrl(item.coverImage)" alt="" class="card-img">
            </div>
            <div class="px-4">
              <hr style="color: #073976; border-width: 2px;" class="mx-1">
              <div class="mx-1">
                <div class="space-between">
                  <p class="h4 project-title" (click)="openProject(item._id)">{{item.title}}</p>
                  <i (click)="createBookmark(item._id)" class="fa-regular fa-bookmark save-icon"></i>
                </div>
                <p class="h6" *ngIf="item.author">{{item.author['firstName']}} {{item.author['lastName']}}</p>
                <div class="d-flex justify-content-space-between">
                  <fa-icon class="icon" [icon]=faClock style="font-size: 15px;"></fa-icon>
                  <p class="ms-1">{{item.remainingDays}} days left - <span>{{item.fundPercent}}% funded</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pull-right text-end">
          <a style="cursor: pointer;" class="col-12 h5 my-3" (click)="navigate()">
            Explore More Campaigns!
          </a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loading" style="height: 50vh;" class="d-flex justify-content-center align-items-center">
    <div class="spinner-border spinner-border" style="color: #073976;" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <div class="admins" *ngIf="!loading && authService.userRole == 'admin'">
    <div class="cards">
      <div class="card-body p-2">
        <div class="titles text-center">
          <div>
            Welcome To Admin Dashboard
          </div>
          <div>
            <p class="h5 mt-2">Total Projects : {{projects.length}}</p>
          </div>
          <div class="row">
            <div class="col-lg-6 chart-container text-center mb-4 mb-lg-0">
              <p class="h5">
                Campaigns According To Categories
              </p>
              <canvas id="DoughnutChart">{{ chart }}</canvas>
            </div>
            <div class="col-lg-6 chart-container text-center">
              <p class="h5">
                Campaigns Status Rate
              </p>
              <canvas id="BarChart">{{ chart }}</canvas>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12 chart-container text-center">
              <p class="h5">
                Campaigns Status
              </p>
              <canvas id="LineChart">{{ chart }}</canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

