<footer class="footer" style="background-color: #073976; color: white; padding: 60px 0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 footer-col">
        <h4>About TakeOff</h4>
        <p>A platform where dreams take flight. Join our community to launch your next big idea.</p>
      </div>
      <div class="col-lg-3 col-md-6 footer-col">
        <h4>Quick Links</h4>
        <ul class="list-unstyled">
          <li><a routerLink="" style="color: white;">Home</a></li>
          <li><a routerLink="/aboutus" style="color: white;">About Us</a></li>
          <li><a routerLink="/rules" style="color: white;">How It Works</a></li>
          <li><a routerLink="/terms" style="color: white;">Terms and Conditions</a></li>
          <li><a routerLink="/discover/new/All" style="color: white;">Projects</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 footer-col">
        <h4>Connect With Us</h4>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/"  target="_blank" style="color: white;"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="https://twitter.com/"  target="_blank" style="color: white;"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="https://www.instagram.com/"  target="_blank" style="color: white;"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a href="https://www.linkedin.com/"  target="_blank" style="color: white;"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 footer-col">
        <h4>Contact Us</h4>
        <p style="color: white;">Thali, Sankhu<br>Kathmandu, 44506<br>Email: Takeitoff@gmail.com<br>Phone: 123-456-7890</p>
      </div>
    </div>
  </div>
</footer>
