.main-component {
  min-height: 100%;
  background-image: url('../../../../assets/Background/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fluid{
  height:65px;
  width:100px;
}

.otp-container {
  margin-top: 20px;
}

/* Style for the label */
.otp-label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Style for the OTP input field */
.otp-input-container {
  margin-top: 8px;
}

.otp-input {
  width: 200px;
  height: 36px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.email-input{
  width: 100%;
  height: 50px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-submit{
  border-radius: 20px !important;
  background-color: #073874 !important;
  color: white;
}

// .outer-login-card{
//   width:400px;
// }

.login-card{
  background: white;
  border-radius: 10px;
  font-size: 16px;
  width: 450px;
}

.attendance-text{
  font-size: 18px;
  font-weight: 500
}

.powered-by{
  position:fixed;
  left: 20px;
  padding-top:40%;
}

.text{
  padding:0px;
  margin:0px;
}

.agile-logo{
  height:100px;
  width:150px;
  margin:0px;
  padding:0px;
}

.btn.btn-pri{
  // background: rgb(2,0,36);
  background: #073874;
  color: white;
  border-radius: 30px;
}

.row-logo{
  display : flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  // padding : 1rem;
  // margin-left: 1rem;
  // margin : 0 10px 0 10px;
}

.title{
  font-weight: 500;
  font-size: 2rem;
  // margin-top: 15px;
}

.forgotPass{
  text-align: end;
  // margin-bottom: 5px;
  // text-decoration: underline;
  // font-size: 16px;
  color: #073874;
  cursor: pointer;
}

.forgotPass:hover{
  text-decoration: underline;
}

.reg-icons{
  height: 50px;
  cursor: pointer;
}

.btn.btn-pri:hover{
  // background: rgb(2,0,36);
  background: #5b90d1;
  color: #073874;
  border-radius: 30px;
}

.error-message{
  text-align: left;
  color: red;
}

.email-signup{
  color: #073874;
  text-decoration: none;
}

.email-signup:hover{
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {

  .container {
    height: auto;
    padding: 20px;
  }

  .login-card {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
  }
}
