<div *ngIf="!loading" class="main-container">
  <div class="title">
    <div class="row text-center" *ngIf="pageType === 'new'">
      <h1>Explore <span>{{projectCount}} projects!</span></h1>
    </div>
    <div class="row text-center" *ngIf="pageType === 'mycampaign'">
      <h1 *ngIf="projects.length == 0">You haven't started any campaign till now! <br>Start your jouney and take off with Us by clicking Start a project!</h1>
    </div>
    <div class="row text-center" *ngIf="pageType === 'myinvestment'">
      <h1 *ngIf="projects.length == 0">You haven't invested in any campaign till now! <br>Let's support our creators. Click on discover to browse various projects!</h1>
    </div><div class="row text-center" *ngIf="pageType === 'saved'">
      <h1 *ngIf="projects.length == 0">You haven't saved any campaigns till now! <br>Let's support our creators. Click on discover to browse various projects!</h1>
    </div>
    <hr style="color: grey;">
  </div>
  <div class="row px-5">
    <div class="col-lg-4" *ngFor="let item of projects; let i  = index">
      <div class="card p-3 mt-2 text-start">
        <div class="img-container">
          <img [src]="getCoverImageUrl(item.coverImage)" alt="">
        </div>
        <div class="px-4">
          <hr style="color: #073976; border-width: 2px;" class="mx-1">
          <div class="mx-1">
            <div class="space-between">
              <p (click)="navigate(item['_id'])" class="h4 project-title">{{item.title}}</p>
              <!-- <svg class="save-icon" style="height: 17px; margin-top: 3px" fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 603.511 603.511" xml:space="preserve">
                <!-- SVG code -->
              <!-- </svg> -->
              <i  *ngIf="pageType == 'new' && authService.userRole == 'user'" (click)="createBookmark(item['_id'])" class="fa-regular fa-bookmark save-icon"></i>
            </div>

            <p class="h6" *ngIf="item.author">Creator : {{item.author['firstName']}} {{item.author['lastName']}}</p>

            <p class="h6" style="color: green;" *ngIf="pageType === 'myinvestment'">Invested Amount : Rs.{{investedAmounts[i]}}</p>

            <div class="d-flex justify-content-space-between">
              <fa-icon class="icon" [icon]=faClock style="font-size: 15px;"></fa-icon>
              <p class="ms-1"><span *ngIf="item.remainingDays > 0">{{item.remainingDays}} days left </span><span *ngIf="item.remainingDays < 0 && authService.userRole  == 'admin'">{{item.remainingDays}} days left </span><span *ngIf="item.remainingDays < 0 && authService.userRole == 'user'">{{item.status | uppercase}} </span><span *ngIf="item.remainingDays == 0">Last Day </span>- <span>{{item.fundPercent}}% funded</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
