<div class="main-container">
<div class="title">
  <div class="row text-center">
    <h1>Explore <span>5455 projects!</span></h1>
  </div>
  <hr style="color: grey;">
</div>
<div class="container mt-4">
<div class="card-container">
  <div class="row">
    <div class="card col-sm-4 p-1 text-start">
      <div class="img-container">
        <img src="../../../../assets/Background/bg.png" alt="">
      </div>
      <div class="px-3">
        <hr style="color: grey;">
        <p>Project Name</p>
        <p>Creator Name</p>
        <p>3 days left - <span>80% funded</span></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
