nav{
  background-color: #073976 !important;
}
.for-mobile {
  display: none;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-item:hover{
  background-color: #073976;
  color: white;
}

@media only screen and (max-width: 767px) {
  .for-mobile {
    display: block;
  }

  .title-container {
    display: none;
  }

  .icon{
    height : 100px !important;
  }
}
