@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

nav{
  background-color: #073976 !important;
}
.for-mobile {
  display: none;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.btn-sm{
  outline : none !important;
  border: none !important;
}

.dropdown-item:hover{
  background-color: #073976;
  color: white;
}

@media only screen and (max-width: 767px) {
  .for-mobile {
    display: block;
  }

  .title-container {
    display: none;
  }

  .icon{
    height : 100px !important;
  }
}
