<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="">
      <img src="../../../assets/Logos/rocket-2-svgrepo-com (2).svg" alt="Logo" style="height: 45px;">
      <span class="ms-2 d-none d-md-inline">TakeOff</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/discover', 'new', 'All']" routerLinkActive="active">Discover</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <form class="d-flex me-3" *ngIf="!loggedIn">
          <a class="btn btn-sm btn-outline-light" routerLink="/auth/login" type="submit">Login</a>
          <a class="btn btn-sm btn-outline-light ms-2" routerLink="/auth/signup">Register</a>
        </form>
        <div class="d-md-flex d-lg-none me-3" *ngIf="loggedIn && authService.startProj && authService.userRole == 'user'">
          <a class="btn btn-sm btn-outline-light" (click)="startProj()">Start a Project</a>
        </div>
        <ng-container *ngIf="loggedIn">
          <div class="dropdown d-md-block d-lg-none me-3" dropdown>
            <a dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer;">
              <fa-icon class="icon" [icon]=faUser style="font-size: 15px;"></fa-icon>
            </a>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-start">
              <li>
                <a routerLink="/main/profile" class="dropdown-item">
                  <i class="fa-solid fa-user"></i>
                  Profile
                </a>
              </li>
              <ng-container *ngIf="authService.userRole == 'user'">
                <li>
                  <a class="dropdown-item">
                    <i class="fa-brands fa-connectdevelop"></i>
                    My Token: {{ token }}
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" [routerLink]="['/discover', 'saved', 'All']">
                    <i class="fa-solid fa-bookmark"></i>
                    Saved Campaigns
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/discover', 'mycampaign', 'All']" class="dropdown-item">
                    <i class="fa-solid fa-bars-progress"></i>
                    My Campaigns
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/discover', 'myinvestment', 'All']" class="dropdown-item">
                    <i class="fa-solid fa-bars-progress"></i>
                    My Invetsments
                  </a>
                </li>
              </ng-container>
              <div class="dropdown-divider"></div>
              <li>
                <a class="dropdown-item" (click)="logout()">
                  <fa-icon class="icon mx-1" [icon]=faOff style="font-size: 15px;"></fa-icon>
                  Logout
                </a>
              </li>
            </ul>
          </div>
        </ng-container>
        <div class="d-none d-lg-flex align-items-center">
          <div class="me-3" *ngIf="loggedIn && authService.startProj && authService.userRole == 'user'">
            <a class="btn btn-sm btn-outline-light" (click)="startProj()">Start a Project</a>
          </div>
          <ng-container *ngIf="loggedIn">
            <div class="dropdown" dropdown style="color: white;">
              <a dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer;">
                <fa-icon class="icon" [icon]=faUser style="font-size: 15px; color: white;"></fa-icon>
              </a>
              <ul *dropdownMenu class="dropdown-menu dropdown-menu-end">
                <li>
                  <a routerLink="/main/profile" class="dropdown-item">
                    <i class="fa-solid fa-user"></i>
                    Profile
                  </a>
                </li>
                <ng-container *ngIf="authService.userRole == 'user'">
                  <li>
                    <a class="dropdown-item">
                      <i class="fa-brands fa-connectdevelop"></i>
                      My Token: {{ token }}
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="['/discover', 'saved', 'All']">
                      <i class="fa-solid fa-bookmark"></i>
                      Saved Campaigns
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/discover', 'mycampaign', 'All']" class="dropdown-item">
                      <i class="fa-solid fa-bars-progress"></i>
                      My Campaigns
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/discover', 'myinvestment', 'All']" class="dropdown-item">
                      <i class="fa-solid fa-bars-progress"></i>
                      My Invetsments
                    </a>
                  </li>
                </ng-container>
                <div class="dropdown-divider"></div>
                <li>
                  <a class="dropdown-item" (click)="logout()">
                    <fa-icon class="icon mx-1" [icon]=faOff style="font-size: 15px;"></fa-icon>
                    Logout
                  </a>
                </li>
              </ul>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</nav>
